body {
  font-family: "Dancing Script", cursive;
  background: linear-gradient(
    108.1deg,
    rgb(167, 220, 225) 11.2%,
    rgb(217, 239, 242) 88.9%
  );
  padding-top: 100px;
}

h1 {
  text-align: center;
  color: #1a64d6;
  font-size: 34px;
  line-height: 48px;
  margin: 50px 0 50px 0;
  font-weight: 300;
}

h2,
h3,
.temperature-header {
  font-weight: 100;
  display: block;
  text-align: center;
  font-size: 42px;
  line-height: 1;
}

p {
  font-size: 14px;
  opacity: 0.7;
  text-align: center;
  font-family: monospace;
}
li {
  font-size: 16px;
  font-weight: 100;
  list-style: none;
  height: 18px;
  list-style: none;
}
input {
  display: block;
  text-align: center;
}
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.container .card {
  background: #b5deff;
  font-family: "Dancing Script", cursive;
  border-radius: 20px;
  border: 1px solid lightskyblue;
  box-shadow: lightslategrey;
}
.units {
  display: block;
  text-align: center;
  position: relative;
  top: -25px;
  font-size: 18px;
  margin: 0 auto;
}
.weather-form {
  margin: 20px auto;
}
