.background {
  font-family: "Dancing Script", cursive;
  background-image: url("src/clouds1.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  margin: 30px auto;
}

h1 {
  text-align: center;
  font-size: 34px;
  line-height: 48px;
  margin: 50px 0 50px 0;
  font-weight: 300;
  text-shadow: 5px 5px 10px rgba(37, 163, 210, 0.4);
  color: #f65282;
}

h2,
h3 {
  font-weight: 100;
  text-align: center;
  font-size: 24px;
  line-height: 1;
  list-style: none;
}
h4 {
  display: block;
  text-align: center;
}
p {
  display: block;
  font-size: 14px;
  opacity: 0.7;
  text-align: center;
  font-family: monospace;
}

input {
  display: block;
  text-align: center;
}
li,
.description {
  display: block;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.container .card {
  box-shadow: lightslategrey;

  padding: 20px;

  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );

  border: 4px double rgba(93, 154, 241, 0.5);
  border-radius: 18px;
}
.units {
  position: relative;
  top: -35px;
  font-size: 20px;
  margin: 0 auto;
}
.weather-form {
  margin: 20px auto;
}
.temperature-header {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  display: inline-block;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
  color: #f65282;
}

.weather-forecast-temperatures {
  font-size: 18px;
  color: #f65282;
  font-weight: 700;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
